/*
Default accent color

*/
a:hover {
    color: #02818b;
}

#inner-headline ul.breadcrumb li a {
    color: #02818b;
}

/* heading */
h1 span.colored,
h2 span.colored,
h3 span.colored,
h4 span.colored,
h5 span.colored,
h6 span.colored {
    color: #02818b;
}

/* menu */
.navbar nav ul.nav li.dropdown ul.dropdown-menu li a:active,
.navbar nav ul.nav li.dropdown ul.dropdown-menu li a:focus {
    background: #02818b;
}

ul.topmenu li a:hover {
    color: #02818b;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
    background: #02818b;
}

header ul.nav .dropdown-menu li>a:hover,
.dropdown-menu li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-menu .active>a,
.dropdown-menu .active>a:hover {
    background: #02818b;
}

/* slider */
.camera_prev>span:before {
    background: #02818b;
}

.camera_next>span:before {
    background: #02818b;
}

/* parallax c slider */
.da-arrows span.da-arrows-prev:before {
    background: #02818b;
}

.da-arrows span.da-arrows-next:before {
    background: #02818b;
}

.da-slide .da-link:hover {
    background: #02818b;
    border: 4px solid #02818b;
}

.da-dots span {
    background: #02818b;
}


/* form */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #02818b;
}

form#contactform .validation {
    color: #02818b;
}

#sendmessage {
    border: 1px solid #02818b;

}

/* tabs */
div.tabs ul.nav-tabs li.active a {
    border-top: 2px solid #02818b;
    color: #02818b;
}

div.tabbable.tabs-left ul.nav-tabs li.active a {
    border-left: 2px solid #02818b;
    color: #02818b;
}

div.tabbable.tabs-right ul.nav-tabs li.active a {
    border-right: 2px solid #02818b;
    color: #02818b;
}

.accordion-heading a.active,
.accordion-heading a.active i {
    color: #02818b;
}

/* icon */
[class^="icon-"].active {
    color: #02818b;
}

a i.icon-bglight:hover,
a i.icon-bgdark:hover {
    background: #02818b;
}

i.icon-bglight.active {
    background: #02818b;
}

i.icon-bgdark.active {
    background: #02818b;
}

ul.styledlist li:before {
    color: #02818b;
}

/* logo icon */
.logo h1 [class^="icon-"] {
    color: #02818b;
}

.footer_logo h3 [class^="icon-"] {
    color: #02818b;
}

/* CTA */
.cta-text h2 span {
    color: #02818b;
}

/*-- button -- */
.btn-theme {
    border: 1px solid #02818b;
    background: #02818b;
}

/* content */
.box:hover .text h4 {
    color: #02818b;
}

#inner-headline ul.breadcrumb li a:hover {
    color: #02818b;
}

a.thumbnail:hover,
a.thumbnail:focus {
    border-color: #02818b;
}

/* blog */
article .post-heading h3 a {
    text-decoration: none;
    color: #02818b;
}

.post-entry a.readmore:hover {
    color: #02818b;
}

ul.cat li a:hover,
ul.folio-detail li a:hover {
    color: #02818b;
}

.meta-post a,
.meta-post ul li i {
    color: #02818b;
}


.meta-bottom li a:hover {
    color: #02818b;
}

#pagination a:hover {
    background: #02818b;
}


/* widgets */
ul.popular li a {
    color: #02818b;
}

/* component */
.pagination ul>.active>a,
.pagination ul>.active>span {
    background: #02818b;
    border: 1px solid #02818b;
}

.pagination ul>.active>a:hover,
.pagination ul>.active>span:hover {
    background: #02818b;
    border: 1px solid #02818b;
}

.pagination ul>li>a:hover {
    color: #02818b;
}

.pullquote-left {
    border-left: 5px solid #02818b;
}

.pullquote-right {
    border-right: 5px solid #02818b;
}

.pricing-box-wrap.special .pricing-heading {
    background: #02818b;
}

/* portfolio */
ul.portfolio-categ.filter li.active a {
    color: #02818b;
}

/* portfolio */
ul.team-categ.filter li.active a {
    color: #02818b;
}

.grid figcaption {
    background: #02818b;
}

/* footer */
footer a:hover {
    color: #02818b;
}

footer ul.link-list li a:hover {
    color: #02818b;
}
